HOSTNAME=domain.tld
#HOSTNAME=localhost:8080
PUID_ID=1000
INSTALL=true

###                                                 ###
### You probably don't need to edit below this line ###
###                                                 ###

MYSQL_ROOT_PASSWORD=masterDatabasePassword
MYSQL_DATABASE=defaultDatabase
MYSQL_USER=defaultDatabaseUser
MYSQL_PASSWORD=defaultDatabasePassword
